.banner{
    background-image: url("/imgs/banner.png");
    height: 680px;
    width: 100%;
    background-size: cover;
    .feature-area{
        padding-top: 220px;
        margin-bottom: 40px;
    }
    h1{
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: 70px;
        color: #ffffff;
        font-weight: 900;
    }
    p{
        font-family: $primary-font;
        font-size: 20px;
        color: $eight-color;
        line-height: 1.2;
        max-width: 880px;
    }
    button{
        background-color:$fifth-color;
        border: none;
        border-bottom:2px solid $sixth-color;
        color:$seventh-color;
        width:292px;
        height:60px;
        outline:none;
        font-family: $primary-font;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
}