$primary-color: #f5f7fa;
$secondary-color: #506a85 !important;
$tertiary-color: #e6e9ed;
$fourth-color: #ffffff;
$fifth-color: #00bc9c;
$sixth-color: #00a085;
$seventh-color: #ffffff;
$eight-color: #a3b1bf;
$ninth-color: #73879c;
$tenth-color: #f2f5f7;
$elventh-color: #2f4052;
$twelth-color: #4e5c6c;
$thirteen-color: #75828e;
$fourtheen-color: #283645;
$fifteen-color: #707e8c;

