.contact-us{
    padding: 160px 0 130px 0;
    .contact-us-head{
        margin-bottom: 40px;
        h2{
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 44px;
            color: $secondary-color;
            margin-bottom: 40px;
        }
        p{
            font-family: $primary-font;
            font-size: 22px;
            color: $ninth-color;
            max-width: 760px;
        }
    }
    .contact-us-btn{
        button{
            text-transform: uppercase;
            color: $fourth-color;
            background-color: $fifth-color;
            border: none;
            border-bottom: 2px solid $sixth-color;
            padding: 15px 0;
            max-width: 150px;
            font-family: $primary-font;
            font-weight: 600;
            font-size: 15px;
            color: $fourth-color;
        }
    }
}